<!DOCTYPE html>
<html>
<head>
<title>DazNotes</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  {% for note in notes %}
  <ul>
    <li><a href="/notes/{{ note["id"] }}"> {{ note["text"] }} </a></li>
  </ul>
  {% endfor %}

  <form method = "POST" action="{{ url_for('create_note') }}">
  <input type='text' autofocus="autofocus" name='note_text' placeholder="Enter Your Daz Note">
  <button>Add Note</button>
  </form>
</body>

</html>
